<!DOCTYPE html>
<html lang="et">

<head>
  <meta charset="utf-8">
  <title>Jonas Oliveira</title>
</head>
<body>
  <img src="/banner/vp_banner_2024.png" alt="Veebiprogammeerimise 2024 aasta kursuse bänner">
  <h1>Jonas Oliveira</h1>
  <p>See leht on loodud õppetöö raames <a href="https://www.tlu.ee">Tallinna Ülikoolis</a> ja ei pruugi sisaldada tõsiseltvõetavat materjali.</p>
    <img src="/~rinde/media/photos/TLU_600x400/tlu_42.jpg" alt="Foto Tallinna Ülikooni Terra hoone sissepääsust">
	<hr>
	<h2>Eesti film</h2>
	<ul>
		<li> <a href="/">Avalehele</a></li>
		<li> <a href="/eestifilm/tegelased">Eesti filmitegelased</a></li>
	</ul>
	<hr>

</body>
</html>