<!DOCTYPE html>
<html lang="et">

<head>
  <meta charset="utf-8">
  <title>Jonas Oliveira</title>
</head>
<body>
  <img src="/banner/vp_banner_2024.png" alt="Veebiprogammeerimise 2024 aasta kursuse bänner">
  <h1>Jonas Oliveira</h1>
  <p>See leht on loodud õppetöö raames <a href="https://www.tlu.ee">Tallinna Ülikoolis</a> ja ei pruugi sisaldada tõsiseltvõetavat materjali.</p>
    <img src="/~rinde/media/photos/TLU_600x400/tlu_42.jpg" alt="Foto Tallinna Ülikooni Terra hoone sissepääsust">
	<hr>
	<ul>
		<li> <a href="/timenow">Ajainfo</a></li>
		<li> <a href="/vanasonad">Vanasõnad</a></li>
		<li> <a href="/regvisit">Registreeri oma külastus (tekstifaili)</a></li>
		<li> <a href="/regvisitdb">Registreeri oma külastus (andmebaas)</a></li>
		<li> <a href="/visitlog">Registreeritud külastused</a></li>
		<li> <a href="/eestifilm">Eesti filmid</a></li>
		<li> <a href="/gallery">Fotogalerii</a></li>
		<li> <a href="/photoupload">Galeriifotode üleslaadimine</a></li>
	</ul>
	<hr>
</html>

