<!DOCTYPE html>
<html lang="et">

<head>
  <meta charset="utf-8">
  <title>Jonas Oliveira</title>
  <link rel="stylesheet" href="/style/gallery.css">
  <link rel="stylesheet" href="/style/modal.css">
  <script src="/script/gallery.js" defer></script>
</head>
<body>
  <img src="/banner/vp_banner_2024.png" alt="Veebiprogammeerimise 2024 aasta kursuse bänner">
  <h1>Jonas Oliveira</h1>
  <p>See leht on loodud õppetöö raames <a href="https://www.tlu.ee">Tallinna Ülikoolis</a> ja ei pruugi sisaldada tõsiseltvõetavat materjali.</p>
    <img src="/~rinde/media/photos/TLU_600x400/tlu_42.jpg" alt="Foto Tallinna Ülikooni Terra hoone sissepääsust">
	<h1>Uudised</h1>
	<ul>
		<li><a href="/news/add">Uudise lisamine</a></li>
		<li><a href="/news/read">Uudiste lugemine</a></li>
		<li><a href="/home">Avalehele</a></li>
	</ul>
	<hr>
</body>
</html>