<!DOCTYPE html>
<html lang="et">

<head>
  <meta charset="utf-8">
  <title>Jonas Oliveira</title>
</head>
<body>
  <img src="/banner/vp_banner_2024.png" alt="Veebiprogammeerimise 2024 aasta kursuse bänner">
  <h1>Jonas Oliveira</h1>
  <p>See leht on loodud õppetöö raames <a href="https://www.tlu.ee">Tallinna Ülikoolis</a> ja ei pruugi sisaldada tõsiseltvõetavat materjali.</p>
    <img src="/~rinde/media/photos/TLU_600x400/tlu_42.jpg" alt="Foto Tallinna Ülikooni Terra hoone sissepääsust">
	<hr>
	<ul>
		<li> <a href="/">Avalehele</a></li>
	</ul>
	<hr>
	<h2>Registreeri oma külastus sellele veebilehele</h2>
	<form method="POST">
		<label for="firstNameInput">Sisesta oma eesnimi: </label>
		<input type="text" id="firstNameInput" name="firstNameInput" placeholder="Eesnimi ...">
		<br>
		<label for="lastNameInput">Sisesta oma perekonnanimi: </label>
		<input type="text" id="lastNameInput" name="lastNameInput" placeholder="Perekonnanimi ...">
		<br>
		<input type="submit" id="regSubmit" name="regSubmit" value="Salvesta">
	</form>

</html>